<ion-content padding="true" text-center>


    <div *ngIf="!end && level" margin-top>

        <h3>LEVEL {{level}}</h3>

        <p>{{currentQuestion.questionText}}</p>

        <form (ngSubmit)="submitAnswer(answer)">

          <ion-input
            type="text"
            class="riddle-input"
            text-center
            [(ngModel)]="answer"
            [ngModelOptions]="{standalone: true}"
            ngControl="answer"
            (ngModelChange)="answer = $event.toUpperCase()"
            ></ion-input>

          <button ion-button outline margin-top color="dark" type="submit">DIRLED</button>

        </form>

    </div>

    <div *ngIf="end" margin-top>
        <h2>The end.</h2>
        <p margin-top>...Or the beginning of a beautifull friendship.</p>

        <button (click)="restartQuiz()" ion-button outline margin-top color="dark">Start Again</button>

    </div>

</ion-content>