<ion-content padding="true">

    <ion-slides #slides>

        <ion-slide *ngFor="let question of questions; let i = index;">

            <h3>LEVEL {{level}}</h3>

            <!-- <flash-card [isFlipped]="question.flashCardFlipped">
                <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
                <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
            </flash-card> -->

            <p>{{question.questionText}}</p>

            <ion-input
                *ngIf="level == (i+1) && !hasAnswered"
                type="text"
                class="riddle-input"
                text-center
                autofocus
                [(ngModel)]="answer"
                ngControl="answer"
                (ngModelChange)="answer = $event.toUpperCase()"
                riddle-input-validator="true"
            ></ion-input>
            <!-- Dummy input for re-rendering hack to replace real one while it's re-rendering
                and avoid flickering.-->
            <ion-input
                *ngIf="hasAnswered"
                type="text"
                class="riddle-input"
                readonly
            ></ion-input>

            <button ion-button outline margin-top color="dark" (click)="submitAnswer(answer, question)">DIRLED</button>

        </ion-slide>

        <ion-slide>
            <h2>The end.</h2>
            <p margin-top>...Or the beginning of a beautifull friendship.</p>

            <button (click)="restartQuiz()" ion-button outline margin-top color="dark">Start Again</button>

        </ion-slide>

    </ion-slides>

</ion-content>